@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-9">
<div class="jumbotron">
    <h4>About Me</h4>
    <p class="text-justify">I am Sree Sudha Ayyalasomayajula, recent (Dec 2017) Computer Science Graduate From Bradley University, Peoria, IL.<br> I strongly believe in “Knowledge parted is Knowledge gained”.</p>

    <h4>About MyWebsite </h4>
    <p class="text-justify"> The whole idea is to create my Resume using known technologies to me.This site is built in ASP.NET MVC4 and its database is built in SQL Server2014. I used "OAuth" google authentication method here so that I can login as admin and perform Add,Delete,Edit operations on the content of the site and rest of the users can only view the content.</p>
  </div>
</div>
    <div class="col-md-3">
     <br>
        <br>
        <br>
        <img src="~/Images/linkedinpic.jpg" alt="Picture" >
        <p> Sree Sudha Ayyalasomayajula</p>
        <p>Computer Science Graduate</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/sree-sudha-ayyalasomayajula/">Linkedin &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>My Hobbies</h2>
        <p>
              Playing Board Games 
          <br>Watching Tv Series And Movies 
          <br>Learning New things
           <br>Intrapersonal Communication
            <br>Travelling

        </p>
        
    </div>
    <div class="col-md-6">
        <h2>Technical Skills</h2>
        <p>
            Programming Languages: C++; C#; 
            <br>Framework: ASP.NET MVC
           <br> IDE: Visual Studio 2015
            <br> Web Technologies: HTML; CSS; Bootstrap; Java script
            <br> Database: SQL Server 2014
            <br> Business Intelligence: MSBI(SSIS, SSAS, SSRS) ;Tableau
            <br>Certifications: ITIL V3 Foundation;
            <br>Implementing Microsoft Azure Infrastructure Solutions
           <br> Concentrations: Web Technologies, Databases and Data mining

        </p>
        
    </div>
    <div class="col-md-3">
        <h2>Interests</h2>
        <p>Learning new technologies , Self Teaching and Multi Tasking are my striking features</p>
        <p><a class="btn btn-default" href="https://github.com/sreeani">GitHub &raquo;</a></p>
        
       
    </div>
</div>